*{
  margin: 0;
  padding: 0;
}

body {
    background-color: #A7B2F3;
}

header {
  width: 100%;
  padding: 70px;
  color: #ffffff;
  background: #000F6A;
text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
color: #FFFFFF;
background: #0e8dbc;
  text-align: center;
  background-image: url(img/colegioban.jpg);
  position: relative;
  background-size: cover;

}

nav ul {
  background: #CD0404;
  text-align: center;
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 20px;
  transition: all ease-in-out 250ms;
}

ul li a {
  color: white;
  text-decoration: none;
}
nav ul li:hover {
  background: #000F6A;
}

.hide {
  padding: 16px;
  font-size: 22px;
  background: #000F6A;
  color: white;
  cursor: pointer;
  display: none;
}

@media (max-width: 900px) {
  ul li {
    width: 100%;
    padding: 16px;
    text-align: left;
  }

  .hide {
    display: block;
  }

  nav ul {
  display: none;

  }
}
 h1{
  font-size: 200%;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  text-anchor: middle "x="60" y="75"";
  text-transform: uppercase;
}

h2{
  font-size: 100%;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-left: 10px;
}

.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #000F6A;
    border-radius: 6px;
    border: 0px solid #0016b0;
  }
  .boton:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

@media (max-width: 1200px){
  body{
    font-size: 14px;
  }
}
/*para laptops*/
@media (max-width: 992px){
  body{
    font-size: 16px;
  }

/*para celulares*/
@media (max-width: 576px){
  body{
    font-size: 12px;
  }
}
