* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-weight: 300;
	
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
  background-size: cover;
}

a {
	text-decoration: none;
}

.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		"destacado		destacado 	destacado"
		"contenido		contenido 	aside";
}


.articulo {
	display: flex;
	background: #EDF8FF;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.articulo .contenedor-texto {
	padding: 20px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.articulo .contenedor-thumbnail {
	width: 50%;
}

.articulo .titulo {
	margin-bottom: 10px;
	font-size: 25px;
}

.articulo .titulo a {
	font-weight: 400;
	color: black;
}

.articulo .fecha {
	font-size: 16px;
	color: #868b8d;
	margin-bottom: 10px;
}

.articulo .extracto {
	font-size: 20px; 
	line-height: 25px; 
	font-weight: 300;
	margin-bottom: 20px; 
	color: black;
}

.articulo.destacado {
	grid-area: destacado;
	color: black;
	background-color: #F7D680;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
	display: grid;
	grid-template-columns: 1.3fr 1fr;
}

.articulo.destacado .contenedor-thumbnail {
	min-height: 100%;
	width: 100%;
}

.articulo.destacado .contenedor-thumbnail a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.destacado .titulo a {
	color: black;
}

.destacado .titulo::after {
	content: '';
	margin: 0.625em 0; 
	display: block;
	background-color: #868686;
	width: 6em; 
	height: 1px;
}

.btn-link {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 0.625em; 
	background-color: #000F6A;
	font-size: 1em; 
	text-transform: uppercase;
	letter-spacing: 1px;
	align-self: flex-end;
}

.btn-link:hover {
	background: #000;
	text-decoration: none;
}


.contenido {
	grid-area: contenido;
	display: grid;
	grid-template-columns: 1;
	grid-gap: 20px; 
}


.sidebar {
	padding: 5em 25px; 
	text-align: center;
	min-height: 100px; 
	grid-area: aside;
	background: #CD0404;
	color: white;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.sidebar .acerca-de img {
	border-radius: 0%;
	height: 10em; 
	width: 10em; 
	margin-bottom: 25px; 
}

.sidebar .bio {
	margin-bottom: 25px; 
	font-size: 20px; 
	line-height: 25px; 
}

.sidebar .menu {
	width: 100%;
	display: inline-block;
	background: #000F6A;
}

.sidebar .menu a {
	padding: 25px; 
	color: #fff;
	background-color: #000F6A;
	display: block;
	font-size: 1em;
	text-transform: uppercase;
}

.sidebar .menu a:hover {
	background: #262626;
}
/*para computadoras*/
@media (max-width: 1200px){
	body{
		font-size: 14px;
	}
}
/*para laptops*/
@media (max-width: 992px){
	body{
		font-size: 16px;
	}
	.contenedor{
		grid-template-areas:
		"destacado		destacado 	destacado"
		"contenido		contenido 	contenido"
		"aside			aside		aside";
	}
}
/*para tablets*/
@media (max-width: 768px){
	.articulo .destacado{
		grid-template-columns: 1fr; 
	}

	.articulo .destacado .contenedor-thumbnail{
		height: 16em;
	}
}
/*para celulares*/
@media (max-width: 576px){
	body{
		font-size: 12px;
	}
}
